html,
body {
    height: 100vh;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/668/874/original/royal-gradient-background.jpg);
    background-size: cover;
}

.name-heading {
    font-family: 'Dancing Script', cursive;
}

.navbar {
    background-color: #25132C;
}

.prof-pic {
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
    border: 3px white solid;
    padding: 5px;
}